# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:3001

# Application Configuration
NEXT_PUBLIC_APP_NAME=AI Simulation Platform
NEXT_PUBLIC_APP_URL=http://localhost:3000

# OpenAI API Key (same as backend)
OPENAI_API_KEY=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


# Database Configuration (same as backend)
DATABASE_URL=postgresql://neondb_owner:npg_fcCv9JTsw0Oh@ep-icy-math-adu0nmj8-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Node Environment
NODE_ENV=development

# Test user (same as backend)
TEST_USER_EMAIL=test123@example.com
TEST_USER_PASSWORD=test@1234